aaindex
wget
matplotlib
statsmodels
seaborn
pronto
tqdm
pyarrow
torch
torchvision
pytorch-lightning
#bio-embeddings[all]
transformers
wandb
git+https://github.com/austinv11/hopfield-layers
h5py

# conda install -c bioconda blast
# conda install -c bioconda cd-hit
# conda install pytorch torchvision torchaudio cpuonly -c pytorch