aaindex
wget
matplotlib
statsmodels
seaborn
pronto
tqdm
pyarrow
pytorch
torchvision

# conda install -c bioconda blast
# conda install -c bioconda cd-hit
# conda install pytorch torchvision torchaudio cpuonly -c pytorch